@import "../../../GlobalStyles/components/mixin.scss";

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 var(--paddingY);
    height: var(--headerHeight);
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s, visibility 0.2s;
}

@include responsive(desktop-md) {
    .header {
        padding: 0 20px;
    }
}